__pycache__/
*.pyc
*.pyo
.venv/
venv/
.idea/
.vscode/
*.log
*.npz
*.pth
# *.onnx
checkpoints/
runs/
logs/
.DS_Store

###相关工具文件###
.claude
.vscode
# Qmini/source/Qmini/Qmini/assets/Qmini_ref.usda
# 如果想按扩展名忽略，可改为：
*.usda
*.usd
*.stl